@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Animals Index";
}

<h1>Animals</h1>
<link rel="stylesheet" href="~/css/view-manage.css" />


<!-- Search Form -->
<form method="get" asp-action="Index">
    <div class="form-group">
        <label for="SearchTerm">Search:</label>
        <input type="text" id="SearchTerm" name="searchTerm" value="@ViewData["SearchTerm"]" class="form-control" placeholder="Enter Animal name" />
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </div>
</form>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Category</th>
            <th>Enclosure</th>
            <th>Size</th>
            <th>Diet</th>
            <th>Activity Pattern</th>
            <th>Prey</th>
            <th>Space Requirement</th>
            <th>Security Requirement</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Species</td>
                <td>@item.CategoryName</td>
                <td>@item.EnclosureName</td>
                <td>@item.AnimalSize</td>
                <td>@item.Diet</td>
                <td>@item.activityPattern</td>
                <td>@item.Prey</td>
                <td>@item.SpaceRequirement</td>
                <td>@item.SecurityRequirement</td>
                <td>@item.Status</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    <button onclick="window.location.href='/Animals/Sunrise/@item.Id'" class="btn btn-warning btn-sm">Sunrise</button>
                    <button onclick="window.location.href='/Animals/Sunset/@item.Id'" class="btn btn-secondary btn-sm">Sunset</button>
                    <button onclick="window.location.href='/Animals/FeedingTime/@item.Id'" class="btn btn-success btn-sm">Feeding Time</button>
                    <button onclick="window.location.href='/Animals/CheckConstraints/@item.Id'" class="btn btn-dark btn-sm">Check Constraints</button>
                </td>
            </tr>
        }
    </tbody>
</table>
