@model IEnumerable<WebApplication1.Models.Enclosure>

@{
    ViewData["Title"] = "Enclosures";
}

<h1>Enclosures</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<form method="get" asp-action="Index">
    <div class="form-group">
        <label for="SearchTerm">Search:</label>
        <input type="text" id="SearchTerm" name="searchTerm" value="@ViewData["SearchTerm"]" class="form-control" placeholder="Enter search term..." />
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Description)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Size)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().securityLevel)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Habitat)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Climate)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Animals.Count)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Size)</td>
                <td>@Html.DisplayFor(modelItem => item.securityLevel)</td>
                <td>@Html.DisplayFor(modelItem => item.Habitat)</td>
                <td>@Html.DisplayFor(modelItem => item.Climate)</td>
                <td>@item.Animals.Count</td>
              <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    <a asp-action="AssignAnimal" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Assign Animals</a>
                    <a asp-action="Sunrise" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Sunrise</a>
                    <a asp-action="Sunset" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Sunset</a>
                    <a asp-action="FeedingTime" asp-route-id="@item.Id" class="btn btn-success btn-sm">Feeding Time</a>
                    <a asp-action="CheckConstraints" asp-route-id="@item.Id" class="btn btn-dark btn-sm">Check Constraints</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    